@model VehiclesApp.MVC.Models.ViewModels.VehicleModelViewModel

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Make
        </dt>
        <dt class="col-sm-10">
            @Model.VehicleMake.Name
        </dt>
        <dt class="col-sm-2">
            Name
        </dt>
        <dt class="col-sm-10">
            @Model.Name
        </dt>
        <dt class="col-sm-2">
            Abrv
        </dt>
        <dt class="col-sm-10">
            @Model.Abrv
        </dt>
    </dl>
</div>
